<a href="https://colab.research.google.com/github/rajadevineni/Applied_Machine_Learning/blob/master/HW2_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Results**
**SVC with Gaussian(rbf) kernel** is the model with highest Mean Corss-Validation, below are the hyper parameters.

**Best Mean Cross-validation score: 0.86**

**Best Train Performance:  0.8615219955730513**

**Best Test Performance:  0.8944193061840121**

**Best parameters:**
~~~
{'classifier': SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.004970126973202209,
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False), 'classifier__C': 1, 
    'classifier__gamma': 0.004970126973202209, 'classifier__kernel': 'rbf'}
~~~

In [49]:
!pip install feature-engine

Requirement already satisfied: feature-engine in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (1.1.2)
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (0.22.2.post1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (0.12.0)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (1.18.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from feature-engine) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.3->feature-engine) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.22.2->feature-engine) (0.16.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.15.0)

In [50]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pathlib import Path
%matplotlib inline

In [51]:
data = pd.read_csv('titanic.csv')

data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [53]:
data.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [54]:
# let's inspect the variable values

for var in data.columns:
    print(var, data[var].unique()[0:20], '\n')

PassengerId [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Survived [0 1]

Pclass [3 1 2]

Name ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)' 'Sandstrom, Miss. Marguerite Rut'
 'Bonnell, Miss. Elizabeth' 'Saundercock, Mr. William Henry'
 'Andersson, Mr. Anders Johan' 'Vestrom, Miss. Hulda Amanda Adolfina'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Rice, Master. Eugene'
 'Williams, Mr. Charles Eugene'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Masselmani, Mrs. Fatima']

Sex ['male' 'female']

Age [22. 38. 26. 35. nan 54.  2. 27. 14.  4. 58. 20. 39. 55. 31. 34. 15. 28.
  8. 19.]

SibSp [1 0 3 4 2 5 8]

Parch [0 1 2 5 3 4 6]

Ticket ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736' 'PP 9549' '113783' 'A/5. 2151'
 '347082' '350406' '248706' '382652' '244373' '345763' '2649']

Fare [ 7.25   71.2833  7.925  53.1     8.05    8.4583 51.8625 21.075  11.1333
 30.0708 16.7    26.55   31.275   7.8542 16.     29.125  13.     18.
  7.225  26.    ]

Cabin [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12']

Embarked ['S' 'C' 'Q' nan]

In [55]:
# make list of variables  types

# numerical: discrete vs continuous
discrete = [var for var in data.columns if data[var].dtype!='O' and var!='Survived' and data[var].nunique()<10]
continuous = [var for var in data.columns if data[var].dtype!='O' and var!='Survived' and var not in discrete]

# mixed
mixed = ['Cabin']

# categorical
categorical = [var for var in data.columns if data[var].dtype=='O' and var not in mixed]

print(f'There are {len(discrete)} discrete variables')
print(f'There are {len(continuous)} continuous variables')
print(f'There are {len(categorical)} categorical variables')
print(f'There are {len(mixed)} mixed variables')

There are 3 discrete variables
There are 3 continuous variables
There are 4 categorical variables
There are 1 mixed variables

In [56]:
# missing values
data.isnull().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [57]:
# cardinality (number of different categories)

data[categorical+mixed].nunique()

Name        891
Sex           2
Ticket      681
Embarked      3
Cabin       147
dtype: int64

In [58]:
# Cabin- mixed variable
# \d regular expression for digts . \d+ one or more digits
data['Cabin_num'] = data['Cabin'].str.extract('(\d+)') # captures numerical part
data['Cabin_num'] = data['Cabin_num'].astype('float')
data['Cabin_cat'] = data['Cabin'].str[0] # captures the first letter

# show dataframe
data.head()

   PassengerId  Survived  Pclass  ... Embarked Cabin_num  Cabin_cat
0            1         0       3  ...        S       NaN        NaN
1            2         1       1  ...        C      85.0          C
2            3         1       3  ...        S       NaN        NaN
3            4         1       1  ...        S     123.0          C
4            5         0       3  ...        S       NaN        NaN

[5 rows x 14 columns]

In [59]:
data['Title'] = data['Name'].str.split(',').str[1].str.split('\s+').str[1]
data.head()

   PassengerId  Survived  Pclass  ... Cabin_num Cabin_cat  Title
0            1         0       3  ...       NaN       NaN    Mr.
1            2         1       1  ...      85.0         C   Mrs.
2            3         1       3  ...       NaN       NaN  Miss.
3            4         1       1  ...     123.0         C   Mrs.
4            5         0       3  ...       NaN       NaN    Mr.

[5 rows x 15 columns]

In [60]:
data['Title'].value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Mlle.          2
Col.           2
Major.         2
Mme.           1
Lady.          1
the            1
Capt.          1
Sir.           1
Ms.            1
Jonkheer.      1
Don.           1
Name: Title, dtype: int64

In [61]:
data['Cabin_cat'].value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: Cabin_cat, dtype: int64

In [62]:
# drop original mixed
data.head()

   PassengerId  Survived  Pclass  ... Cabin_num Cabin_cat  Title
0            1         0       3  ...       NaN       NaN    Mr.
1            2         1       1  ...      85.0         C   Mrs.
2            3         1       3  ...       NaN       NaN  Miss.
3            4         1       1  ...     123.0         C   Mrs.
4            5         0       3  ...       NaN       NaN    Mr.

[5 rows x 15 columns]

In [63]:
data.drop(['PassengerId','Name','Ticket','Cabin'], axis=1,inplace=True)

In [64]:
data.head()

   Survived  Pclass     Sex   Age  ...  Embarked  Cabin_num  Cabin_cat  Title
0         0       3    male  22.0  ...         S        NaN        NaN    Mr.
1         1       1  female  38.0  ...         C       85.0          C   Mrs.
2         1       3  female  26.0  ...         S        NaN        NaN  Miss.
3         1       1  female  35.0  ...         S      123.0          C   Mrs.
4         0       3    male  35.0  ...         S        NaN        NaN    Mr.

[5 rows x 11 columns]

In [65]:
data.describe()

         Survived      Pclass         Age  ...       Parch        Fare  Cabin_num
count  891.000000  891.000000  714.000000  ...  891.000000  891.000000  200.00000
mean     0.383838    2.308642   29.699118  ...    0.381594   32.204208   50.49000
std      0.486592    0.836071   14.526497  ...    0.806057   49.693429   35.39497
min      0.000000    1.000000    0.420000  ...    0.000000    0.000000    2.00000
25%      0.000000    2.000000   20.125000  ...    0.000000    7.910400   22.00000
50%      0.000000    3.000000   28.000000  ...    0.000000   14.454200   43.00000
75%      1.000000    3.000000   38.000000  ...    0.000000   31.000000   77.25000
max      1.000000    3.000000   80.000000  ...    6.000000  512.329200  148.00000

[8 rows x 7 columns]

In [66]:
# separate into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data.drop('Survived', axis=1),  # predictors
    data['Survived'],  # target
    test_size=0.1,  # percentage of obs in test set
    random_state=0)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((801, 10), (90, 10))

In [67]:
X_train.head()

     Pclass     Sex   Age  SibSp  ...  Embarked  Cabin_num Cabin_cat    Title
815       1    male   NaN      0  ...         S      102.0         B      Mr.
877       3    male  19.0      0  ...         S        NaN       NaN      Mr.
193       2    male   3.0      1  ...         S        2.0         F  Master.
523       1  female  44.0      0  ...         C       18.0         B     Mrs.
634       3  female   9.0      3  ...         S        NaN       NaN    Miss.

[5 rows x 10 columns]

In [68]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 801 entries, 815 to 684
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pclass     801 non-null    int64
 1   Sex        801 non-null    object
 2   Age        643 non-null    float64
 3   SibSp      801 non-null    int64
 4   Parch      801 non-null    int64
 5   Fare       801 non-null    float64
 6   Embarked   799 non-null    object
 7   Cabin_num  175 non-null    float64
 8   Cabin_cat  179 non-null    object
 9   Title      801 non-null    object
dtypes: float64(3), int64(3), object(4)
memory usage: 68.8+ KB

In [69]:
# from feature-engine
from feature_engine import missing_data_imputers as mdi
# for one hot encoding with feature-engine
from feature_engine.categorical_encoders import OneHotCategoricalEncoder
from feature_engine.categorical_encoders import RareLabelCategoricalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from feature_engine.wrappers import SklearnTransformerWrapper
from sklearn.preprocessing import StandardScaler

In [70]:
titanic_pipe = Pipeline([

    # missing data imputation 
    ('imputer_num_arbit',
     mdi.ArbitraryNumberImputer(arbitrary_number=-1,
                                variables=['Cabin_num'])),
    ('imputer_num_mean',
     mdi.MeanMedianImputer(imputation_method='mean',variables=['Age'])),
    
    ('imputer_cat_freq',
     mdi.CategoricalVariableImputer(imputation_method='missing',variables=['Embarked'])),
    
    ('imputer_cat_missing',
     mdi.CategoricalVariableImputer(variables=['Cabin_cat','Title'])),

    # categorical encoding 
    ('encoder_rare_label',
     RareLabelCategoricalEncoder(tol=0.01,
                                    n_categories=4,
                                    variables=['Cabin_cat','Title'])),
    ('categorical_encoder',
     OneHotCategoricalEncoder( top_categories=None,
                               variables=['Sex', 'Embarked','Cabin_cat','Title'], # we can select which variables to encode
                               drop_last=True)),
    ('scaler', SklearnTransformerWrapper(transformer=StandardScaler(), variables = ['Fare','Age','Cabin_num'])),

])

In [71]:
titanic_pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('imputer_num_arbit',
                 ArbitraryNumberImputer(arbitrary_number=-1, imputer_dict=None,
                                        variables=['Cabin_num'])),
                ('imputer_num_mean',
                 MeanMedianImputer(imputation_method='mean',
                                   variables=['Age'])),
                ('imputer_cat_freq',
                 CategoricalVariableImputer(fill_value='Missing',
                                            imputation_method='missing',
                                            return_object=False,
                                            variables=['Emb...
                                             replace_with='Rare', tol=0.01,
                                             variables=['Cabin_cat', 'Title'])),
                ('categorical_encoder',
                 OneHotCategoricalEncoder(drop_last=True, top_categories=None,
                                          variables=['Sex', 'Embarked',
                                                     'Cabin_cat', 'Title'])),
                ('scaler',
                 SklearnTransformerWrapper(transformer=StandardScaler(copy=True,
                                                                      with_mean=True,
                                                                      with_std=True),
                                           variables=['Fare', 'Age',
                                                      'Cabin_num']))],
         verbose=False)

In [72]:
# Apply Transformations
X_train=titanic_pipe.transform(X_train)
X_test=titanic_pipe.transform(X_test)

## <span class="mark">DO NOT CHANGE STEPS BEFORE THIS POINT</span>

## Try Different models we have learnt in Class - The Best model should be chosen based on mean cross validation score

### KNN Classifier

In [73]:
# importing GirdSearchCV to calculate Mean Cross-validation
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

# define a list of parameters

param_knn = {'n_neighbors': range(10,45)}

#apply grid search
grid_knn = GridSearchCV(knn, param_knn, cv=5, return_train_score=True)
grid_knn.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_knn.best_score_))
print()

#find best parameters
print('KNN parameters: ', grid_knn.best_params_)

# Check test data set performance
print("KNN Test Performance: ", grid_knn.score(X_test,y_test))

Best Mean Cross-validation score: 0.82

KNN parameters:  {'n_neighbors': 42}
KNN Test Performance:  0.8

### Decision Tree Classifier

In [74]:
# Another Example - Here again  I have not explored all the hyperparameters of Decision Trees

from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(random_state=0)

#define a list of parameters
param_dtree = {'max_depth': range(1,20)}

#apply grid search
grid_dtree = GridSearchCV(dtree, param_dtree, cv=5, return_train_score = True)
grid_dtree.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_dtree.best_score_))
print()

#find best parameters
print('Decision Tree parameters: ', grid_dtree.best_params_)

# Check test data set performance
print("Decision Tree Performance: ", grid_dtree.score(X_test,y_test))

Best Mean Cross-validation score: 0.83

Decision Tree parameters:  {'max_depth': 4}
Decision Tree Performance:  0.8222222222222222

### SVC with Gaussian Kernel

**Since the #observations is very less, I am not modeling using Linear kernel**

In [75]:
from sklearn.svm import SVC

#svc_kernel = SVC(kernel ='rbf')
svc_kernel = SVC()

#define a list of parameters
param_svc_kernel = [{'kernel': ['rbf'],
                     'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
                     #'gamma': [0.001, 0.01, 0.1, 1, 10, 100]
                     'gamma': np.logspace(-5,2,6) / X_train.shape[0]
                     }]

#apply grid search
grid_svc_kernel = GridSearchCV(svc_kernel, param_svc_kernel, cv=5, n_jobs = 2, return_train_score = True, scoring='roc_auc')
grid_svc_kernel.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_svc_kernel.best_score_))
print()

#find best parameters
print('SVC Kernel parameters: ', grid_svc_kernel.best_params_)

# Check test data set performance
print("SVC Kernel Performance: ", grid_svc_kernel.score(X_test,y_test))

Best Mean Cross-validation score: 0.86

SVC Kernel parameters:  {'C': 1, 'gamma': 0.004970126973202209, 'kernel': 'rbf'}
SVC Kernel Performance:  0.8944193061840121

### Linear SVC classification

In [76]:
from sklearn.svm import LinearSVC

linearsvc = LinearSVC()

#define a list of parameters
#param_linearsvc = [{'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000], 'gamma': np.logspace(-5,2,6) / X_train.shape[0]}]

param_linearsvc = [{'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000]}]
#apply grid search
grid_linearsvc = GridSearchCV(svc_kernel, param_svc_kernel, cv=5, return_train_score = True, scoring='roc_auc')
grid_linearsvc.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_linearsvc.best_score_))
print()

#find best parameters
print('Linear SVC parameters: ', grid_linearsvc.best_params_)

# Check test data set performance
print("Linear SVC Performance: ", grid_linearsvc.score(X_test,y_test))

Best Mean Cross-validation score: 0.86

Linear SVC parameters:  {'C': 1, 'gamma': 0.004970126973202209, 'kernel': 'rbf'}
Linear SVC Performance:  0.8944193061840121

## Tuning Multiple Models with one GridSearch

In [77]:
# Pipeline
model_gs = Pipeline([("classifier", KNeighborsClassifier())])

In [78]:
# GridSearchCV parameters
model_parm_gd = [
          
    # Decision Tree Classifier 
    {'classifier': [DecisionTreeClassifier()],
      'classifier__max_depth': range(1,20)},
    
    # KNN Classifier      
    {'classifier' :[KNeighborsClassifier()],
     'classifier__n_neighbors': range(10,45)},
    
    # SVC with Gaussian Kernel
    {'classifier' : [SVC()],
     'classifier__kernel': ['rbf'],
     'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
      #'gamma': [0.001, 0.01, 0.1, 1, 10, 100]
     'classifier__gamma': np.logspace(-5,2,6) / X_train.shape[0]}
]

In [79]:
# Building the model
grid_titanic_pipe = GridSearchCV(model_gs, model_parm_gd, cv=5, return_train_score = True, scoring='roc_auc')
grid_titanic_pipe.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('classifier',
                                        KNeighborsClassifier(algorithm='auto',
                                                             leaf_size=30,
                                                             metric='minkowski',
                                                             metric_params=None,
                                                             n_jobs=None,
                                                             n_neighbors=5, p=2,
                                                             weights='uniform'))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'classifier': [DecisionTreeClassifier(ccp_alpha=0.0,
                                                                class_weight=Non...
                                             probability=False,
                                             random_state=None, shrinking=True,
                                             tol=0.001, verbose=False)],
                          'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
                          'classifier__gamma': array([1.24843945e-08, 3.13593812e-07, 7.87712041e-06, 1.97864319e-04,
       4.97012697e-03, 1.24843945e-01]),
                          'classifier__kernel': ['rbf']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='roc_auc', verbose=0)

In [81]:
# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_titanic_pipe.best_score_))
print()

#find best parameters
print('Best parameters: ', grid_titanic_pipe.best_params_)
print()
# Check test data set performance
print("Best Train Performance: ", grid_titanic_pipe.score(X_train,y_train))
print()
print("Best Test Performance: ", grid_titanic_pipe.score(X_test,y_test))

Best Mean Cross-validation score: 0.86

Best parameters:  {'classifier': SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.004970126973202209,
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False), 'classifier__C': 1, 'classifier__gamma': 0.004970126973202209, 'classifier__kernel': 'rbf'}

Best Train Performance:  0.8615219955730513

Best Test Performance:  0.8944193061840121